<% provide :title, @user.username + ' settings' %>
<% provide :submit_text, 'Update account' %>
<% provide :url, user_path(@user) %>
<% provide :focus_class, 'form edit-user'%>

<h1>Account settings</h1>
<div class="edit-gravatar">
  <%= gravatar_for @user, 50 %>
  <%= link_to 'edit', @user.edit_gravatar_url, target: '_blank', rel: 'noopener' %>
</div>
<%= render 'users/form' %>
<%= render 'users/delete' %>