<% provide(:title, 'All users') %>
<% provide :focus_class, 'index users'%>

<% @users.each do |user| %>
  <div class="user"><%= render user %></div>
<% end %>

<div class="pagination-container">
  <div class="pagination_info">
    <%= page_entries_info @users %>
  </div>
  <%= will_paginate @users %>
</div>
