<% provide(:title, @user.username) %>
<% provide(:focus_class, 'index posts') %>

<%= render partial: 'posts/feed', locals: { posts: @posts }%>

<% content_for :aside do %>
  <div class="content-card bio">
    <%= render partial: 'users/user', locals: { user: @user, size: 80 } %>
  </div>
<% end %>
