<% provide(:title, @user.username) %>

<div class="col-md-9 ">
  <%= render partial: 'posts/feed', locals: { posts: @posts }%>
</div>

<aside class="col-md-3 bio">
  <%= render partial: 'users/user', locals: { user: @user, size: 80 } %>
</aside>
