<% resource_type = resource.class.to_s.underscore %>
<h3 class="metadata <%= resource_type %>-metadata">
  <%= 'Posted by' if resource_type == 'post' %>
  <% if(commenter = resource.user) %>
    <%= tag.a("u/#{commenter.username}", href: user_path(commenter)) %>
  <% else %>
    <span>Comment deleted by user</span>
  <% end %>
  <%= tag.span time_ago_in_words(resource.created_at) + ' ago' %>
</h3>