<% posts.each do |post| %>
  <%= render partial: 'posts/headline_info',
              locals: { post: post, context: :feed } %>
<% end %>

<div class="pagination-container">
  <div class="pagination-info">
    <%= page_entries_info posts, model: 'post' %>
  </div>
  <%= will_paginate posts %>
</div>
