<% provide :title, 'Edit post' %>
<% provide :submit_text, 'Update post' %>
<% provide :url, post_path(@post) %>
<% provide(:focus_class, 'form') %>

<h1>Edit post</h1>
<div class="row">
    <%= render 'posts/form' %>
</div>