// @import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$grey-lightest: #eaeaea;
$reddit-orange: #ff4500;
$reddit-blue: #0079d3;
$reddit-light-blue: #339eff;
$action-grey: #878a8c;
$metadata-grey: #7e7c7c;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

%column_flex {
  display: flex;
  flex-direction: column;
  align-items: center
}

%row_flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

a {
  color: $reddit-blue;
}

/* typography */
h1, h2, h3, h4, h5, h6, button, a {
  line-height: 1;
  font-family: IBMPlexSans, Arial, sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p, div {
  font-size: 14px;
  padding: 0.8em 0 0.25em;
  margin: 0;
  font-family: Noto Sans, Arial, sans-serif;
}

/* forms */
input, textarea, select, .uneditable_input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.btn-primary {
  background-color: $reddit-blue;
  border-color: white;
}

.btn-under {
  margin-top: 20px
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#user_remember_me {
  width: auto;
  margin-left: 0;
}

/* Header */
header {
  position: relative;
}

.dropdown-toggle {
  fill: $action-grey;
  .user-icon {
    height: 24px
  }
  .carat {
    height: 20px
  }
}

.logo {
  display: inline-block;
  margin: 0px 5px;
  #alien {
    height: 32px
  }
  #reddit-logo {
    height: 18px
  }
}

/* Navbar */
ul.nav {
  @extend %row_flex;
  form {
    padding-left: 8px;
  }
}

/* Errors */
#error-explanation {
  color: red;
  ul {
    color: red
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Gravatars */
.gravatar {
  float: left;
  margin-right: 10px
}

div.edit-gravatar {
  @extend %column_flex;
  margin-bottom: 10px
}

/* Metadata */
%metadata {
  color: $metadata-grey;
  margin-bottom: 0px 8px 8px 8px;
  i, a, span, button {
    color: $metadata-grey;
    font-size: 14px;
  }
}

/* Posts */
div.post {
  padding: 0 8px;
}

div.post-metadata {
  @extend %metadata;
}

h1.post-title {
  font-size: 20px;
  line-height: 24px;
  text-align: start;
  margin: 0;
}

div.post-body {
  margin: 6px 0;
  max-width: 800px;
  margin: 0;
}

div.members-only {
  @extend %row_flex;
  justify-content: space-between;
  border: 1px solid $grey-lightest;
  border-radius: 4px;
  padding: 12px 8px;
  margin: 16px 26px 0 26px;
  span {
    font-size: 16px;
    color: $metadata-grey;
  }
}

/* comments */

div.comment-row {
  display: flex;
  align-items: stretch;
  padding: 0;
  div.reverse-thread-area {
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    padding: 0;
    div.threadline-space {
      display: flex;
      align-items: stretch;
      width: 16px;
      flex-shrink: 0;
      padding: 0;
      div.threadline {
        width: 8px;
        flex-shrink: 0;
        padding: 0;
        border-right: 2px solid $grey-lightest;
      }
    }
  }
  div.comment {
    div.comment-metadata {
      @extend %metadata;
      i, a, span, button {
        font-size: 12px;
      }
    };
    p.comment-text {
      padding: 0 2px;
    }
  }
}

@mixin action {
  color: $action-grey;
  font-weight: 700;
}

.post-actions {
  @extend %row_flex;
  @include action;
  padding: 4px 16px 0px 4px;
  div {
    margin-right: 4px;
    padding: 4px;
  }
  i, a, span, button {
    @include action
  }
}

/* Generic indices */
%index {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
    @extend %row_flex;
  }
}

%index-link {
  font-size: 18px;
  line-height: 1em;
  margin: 0;
  padding: 0
}

/* Users index */
.users {
  @extend %index;
  a.user-link {
    @extend %index-link
  }
}

/* Posts feed */
.posts {
  @extend %index;
  a.post-link {
    @extend %index-link
  }
}
