// @import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$grey-lightest: #eaeaea;
$reddit-orange: #ff4500;
$reddit-blue: #0079d3;
$reddit-light-blue: #339eff;
$action-grey: #878a8c;
$metadata-grey: #7e7c7c;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

%column_flex {
  display: flex;
  flex-direction: column;
  align-items: center
}

%row_flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

a {
  color: $reddit-blue;
}

/* typography */
h1, h2, h3, h4, h5, h6, button, a {
  line-height: 1;
  font-family: IBMPlexSans, Arial, sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

h3 {
  font-size: 1em;
  margin: 0;
  font-weight: bold;
}

p, div {
  font-size: 14px;
  padding: 0.8em 0 0.25em;
  margin: 0;
  font-family: Noto Sans, Arial, sans-serif;
}

/* forms */
input, textarea, select, .uneditable_input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.btn-primary {
  background-color: $reddit-blue;
  border-color: white;
}

.btn-under {
  margin-top: 20px
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#user_remember_me {
  width: auto;
  margin-left: 0;
}

/* Header */
header {
  position: relative;
}

.dropdown-toggle {
  fill: $action-grey;
  .user-icon {
    height: 24px
  }
  .carat {
    height: 20px
  }
}

.logo {
  display: inline-block;
  margin: 0px 5px;
  #alien {
    height: 32px
  }
  #reddit-logo {
    height: 18px
  }
}

/* Navbar */
ul.nav {
  @extend %row_flex;
  form {
    padding-left: 8px;
  }
}

/* Errors */
#error-explanation {
  color: red;
  ul {
    color: red
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Metadata */
.metadata {
  color: $metadata-grey;
  margin: 0px 8px 8px 0px;
  font-size: 14px;
  i, a, span, button {
    color: $metadata-grey;
    font-size: 14px;
  }
}

/* Votable components (posts and comments) */
@mixin action {
  color: $action-grey;
  font-weight: 700;
}

.votable-row {
  @extend %row_flex;
}

.vote-controls {
  @extend %column_flex;
  form {
    line-height: 12px;
  };
  button {
    line-height: 12px;
    border: 0;
    padding: 0;
    background-color: transparent;
  }
}

hgroup.votable {
  padding: 12px;
}

p.karma {
  padding: 0;
  line-height: 20px;
  font-weight: 700;
}


/* Posts */
div.post {
  padding: 0 8px;
}

h1.post-title {
  font-size: 20px;
  line-height: 24px;
  text-align: start;
  margin: 0;
}

div.post-body {
  margin: 6px 0;
  max-width: 800px;
  margin: 0;
}

div.members-only {
  @extend %row_flex;
  justify-content: space-between;
  border: 1px solid $grey-lightest;
  border-radius: 4px;
  padding: 12px 8px;
  margin: 16px 26px 0 26px;
  span {
    font-size: 16px;
    color: $metadata-grey;
  }
}

/* comments */

.comment-row {
  padding: 0;
  align-items: stretch;
  .reverse-thread-area {
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    padding: 0;
    .threadline-space {
      display: flex;
      align-items: stretch;
      width: 18px;
      flex-shrink: 0;
      padding: 0;
      .threadline {
        width: 9px;
        flex-shrink: 0;
        padding: 0;
        border-right: 2px solid $grey-lightest;
      }
    }
  }
}

.comment {
  font-size: 12px;
  padding: 8px;
  .comment-metadata i, a, span, button {
    font-size: 12px;
  };
  .comment-text {
    padding: 0 2px;
  }
  div {
    padding: 0;
  }
}

.comment-actions a {
  @include action;
}

.post-actions {
  @extend %row_flex;
  @include action;
  padding: 4px 16px 0px 4px;
  div {
    margin-right: 4px;
    padding: 4px;
  }
  i, a, span, button {
    @include action
  }
}

/* Generic indices */
%index {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
    @extend %row_flex;
  }
}

%index-link {
  font-size: 18px;
  line-height: 1em;
  margin: 0;
  padding: 0
}

/* Shared user elements*/
.user, .bio {
  @extend %row_flex;
  .bio-actions, .bio-info {
    display: flex;
    flex-direction: inherit;
    align-items: inherit;
    padding: 0;
  }
  .bio-action {
    padding: 0;
    border: none;
  }
  .username {
    margin: 0;
  }
  p {
    padding: 0;
    color: $action-grey;
  }
  .karma {
    display: flex;
    flex-direction: inherit;
    align-items: inherit;
  }
}

/* Users index */
.users {
  .user {
    padding: 10px;
    border-bottom: 1px solid $grey-lightest;
  }
  .bio-text {
    flex: 1;
    @extend %row_flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0;
  }
  a.user-link {
    @extend %index-link;
  }
  .bio-actions :last-child {
    padding-left: 10px;
  }
  .karma {
    padding: 0 0 0 10px;
    p {
      padding-left: 5px;
    }
  }
}

/* User bio */
.bio {
  .bio-text {
    @extend %column_flex;
    align-items: center;
    flex: 1;
  }
  .bio-actions :last-child {
    padding-top: 5px;
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

div.edit-gravatar {
  @extend %column_flex;
  margin-bottom: 10px;
}

/* Posts feed */
.posts {
  @extend %index;
  a.post-link {
    @extend %index-link;
  }
}

/* Error pages */

.rails-default-error-page {
  background-color: #EFEFEF;
  color: #2E2F30;
  text-align: center;
  font-family: arial, sans-serif;
  margin: 0;
  h1 {
    font-size: 125%;
    color: $reddit-orange;
    line-height: 1.5em;
    margin: 20px 0 10px 0;
  }
  div.dialog {
    width: 95%;
    max-width: 33em;
    margin: 4em auto 0;
    > div {
      border: 1px solid #CCC;
      border-right-color: #999;
      border-left-color: #999;
      border-bottom-color: #BBB;
      border-top: $reddit-orange solid 4px;
      border-top-left-radius: 9px;
      border-top-right-radius: 9px;
      background-color: white;
      padding: 7px 12% 7px;
      box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
    };
    > p {
      margin: 0 0 1em;
      padding: 1em;
      background-color: #F7F7F7;
      border: 1px solid #CCC;
      border-right-color: #999;
      border-left-color: #999;
      border-bottom-color: #999;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top-color: #DADADA;
      color: #666;
      box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
    }
  }
}
