@import "bootstrap-sprockets";
@import "bootstrap";

/* Header */
header {
  position: relative;
}

.logo {
  display: inline-block;
  margin: 0px 5px;
  #alien {
    height: 32px
  }
  #reddit-logo {
    height: 18px
  }
}

a.nav {
  display: flex;
  align-items: center
}

/* Errors */
#error-explanation {
  color: red;
  ul {
    color: red
  }
}

/* Gravatars */
.gravatar {
  float: left;
  margin-right: 10px;
}
